doctype html

html(lang="en")
  head
    title index
    // inject:css
    // endinject

  body
    h1 index

    // static files
    ul
      li
        a(href='00-example') 00-example

    // inject:js
    // endinject
